*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #3c96ed;
}

body{
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#wrapper{
    height: 100vh;
}

.container{
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column{
    flex-grow: 1;
    width: 50%;
}

.left{
    background-image: url("../assets/main-foto.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.right{
    padding-left: 20px;
    height: 600px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloco{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0.5px solid rgb(226, 226, 226);
}

.bloco img{
    margin: 20px 70px;
}

.bloco form{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

.dados{
    background-color: rgb(247, 247, 247);
    border: 0.5px solid rgb(226, 226, 226);
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}

.entrar{
    background-color: #3b9ffd;
    border: none;
    border-radius: 3px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.bloco2{
    background-color: white;
    margin: 10px 0px;
    padding: 20px 0px;
    text-align: center;
    border: 0.5px solid rgb(226, 226, 226);
}

#obtenha{
    text-align: center;
    margin: 10px 0px;
}

.lojas{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.lojas img{
    height: 50px;
    margin: 0px 4px;
}

footer {
    text-align: center;
    height: 50px;
    margin-top: -50px;
}

footer a{
    color: black;
    font-weight: bold;
    margin-right: 8px;
}

.text-small{
    font-size: 12px;
    font-weight: bold;
    color: grey;
    padding-left: 20px;
    display: inline-block;
}

/* Inicio signup */

.container-signup{
    margin: 0 auto; /* Coloca o item no centro horizontal*/
    max-width: 400px;
    min-height: 100%; /* Utiliza a altura completa da tela para colocar no centro */
    display: flex;
    align-items: center; /* Coloca o item no centro vertical (so funciona com o display:flex */
}